@font-face {
  font-family: OstrichHeavy;
  src:url(../fonts/OstrichSans-Heavy.otf);
}

.pagehead{
  width:100%;
  height: auto;
  background-color: #3bb1cf;
  vertical-align:middle;
  font-size: 40px;
  color:white;
  font-family: OstrichHeavy;
}

.headimg {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  width:110px;
}

.searchloaction{
  padding-top:10px;
  font-size: 30px;
  padding-bottom: 5px;
}

.buttonText{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#inputtext{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 40px;
}

#inputtextarea{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 40px;
}

.bodycontent{
  padding-top: 5px;
  width:100%;
}
#list{
  width:2%;
  height:1px;
  float:left;
}

#allmap{
  width: 98%;
  height: 1px;
  float:left;

}

.tabul{
  li{
    a{
      padding-bottom: 0px;
    }
  }
}